
.container {
  background: var(--white);
  box-shadow: var(--box-shadow-right);
  display: flex;
  flex-direction: column;
  width: 26rem;
  @media (max-width: 1024px) {
    width: 23rem;
  }
  overflow: hidden;
  .fixedContainer {
    width: 28rem;
    padding-right: 2rem;
    height: 100vh;
    overflow: auto;
    @media (max-width: 1024px) {
      width: 25rem;
    }
  }
  &Header, section {
    padding: 2rem 0;
    margin: 0 2rem;
    @media (max-width: 1024px) {
      margin: 0 1.2rem;
    }
  }
  section {
    &:not(:last-child) {
      border-top: .1rem solid var(--lightGray);
    }
    &:nth-child(2) {
      & > * {
        &:last-child {
          margin-left: -2rem;
          width: calc(100% + 4rem);
          @media (max-width: 1024px) {
            margin-left: -1.2rem;
          }
        }
      }
    }
    &:last-child {
      margin-top: auto;
    }
  }
  &Header {
    font-size: var(--regular);
    color: var(--blue);
    line-height: 1.4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    svg {
      stroke: var(--blue);
    }
  }
}
